<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.UserMapper">
    <insert id="signUp" parameterType="user">
        <![CDATA[
            insert into user(username, name, birth, email, gender, age)
            values (#{username}, #{name}, #{birth}, #{email}, #{gender}, #{age});
        ]]>
    </insert>

    <select id="findUsername" resultType="string">
        <![CDATA[
            select username from user
            where name = #{name} and
                  birth = #{birth} and
                  email = #{email}
        ]]>
    </select>

    <select id="existUserByUsernameAndEmail" resultType="int">
        <![CDATA[
            select count(*) from user where username = #{username} and email = #{email}
        ]]>
    </select>

    <select id="getUserInfo" resultType="user">
        <![CDATA[
            select username, name, birth, email, gender from user where username = #{username}
        ]]>
    </select>

    <update id="editUserInfo" parameterType="user">
        <![CDATA[
            update user
            set name = #{name}, birth = #{birth}, email = #{email},
                gender = #{gender}, age = #{age}
            where username = #{username}
        ]]>
    </update>

    <delete id="deleteUserInfo" parameterType="string">
        <![CDATA[
            delete from user where username = #{username}
        ]]>
    </delete>

    <select id="getUsers" resultType="string">
        <![CDATA[
            select username from user
        ]]>
    </select>

    <select id="getRatingHistory" resultType="map">
        <![CDATA[
            select date_format(recent_rating_datetime, '%Y-%m-%d %H:%i:%s') "recent_rating_datetime",
                   rating_count from user where username = #{username}
        ]]>
    </select>

    <update id="updateRatingHistory" parameterType="map">
        <![CDATA[
            update user
            set recent_rating_datetime = #{rating_datetime},
                rating_count = rating_count + 1
            where username = #{user_id}
        ]]>
    </update>
</mapper>