<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.prefer_music_store.app" />

    <!-- Database Connection -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="com.mysql.cj.jdbc.Driver"
          p:url="jdbc:mysql://localhost:3306/prefer_music_store?serverTimezone=UTC"
          p:username="root"
          p:password="wlfkfgksek95+" />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:configLocation="classpath:/mybatis-config.xml"
          p:mapperLocations="classpath:/mappers/**/*-mapper.xml"
          p:dataSource-ref="dataSource" />

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <!-- Message -->
    <bean id="messsageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>/META-INF/properties/security-message</value>
            </list>
        </property>
        <property name="defaultEncoding" value="utf-8" />
        <property name="cacheSeconds" value="5" />
    </bean>

    <bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
        <constructor-arg ref="messsageSource" />
    </bean>

    <bean id="message" class="com.prefer_music_store.app.util.MessageUtils" p:messageSourceAccessor-ref="messageSourceAccessor" />

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" p:defaultLocale="ko" />

    <!-- Mail Sender -->
    <util:properties id="javaMailProperties">
        <prop key="mail.smtp.auth">true</prop>
        <prop key="mail.smtp.starttls.enable">true</prop>
    </util:properties>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
          p:host="smtp.gmail.com"
          p:port="587"
          p:username="jayur830@gmail.com"
          p:password="lwssjghuahpcoceh"
          p:javaMailProperties-ref="javaMailProperties" />

    <!-- Transaction -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="dataSource" />
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

    <!-- Beans -->
    <bean id="dateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg name="pattern" value="yyyy-MM-dd HH:mm:ss" />
    </bean>

    <util:map id="userTable" map-class="java.util.HashMap"
              key-type="java.lang.String" value-type="com.prefer_music_store.app.repo.UserVO" />

    <util:list id="userIndexToId" list-class="java.util.ArrayList" value-type="java.lang.String" />
    <util:list id="itemIndexToId" list-class="java.util.ArrayList" value-type="java.lang.Integer" />
    <util:map id="userIdToIndex" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.Integer" />
    <util:map id="itemIdToIndex" map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.Integer" />

    <util:map id="rfmScores" map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.Integer" />

    <bean id="ageGenderPlaylistRecommendAlgorithm" class="com.prefer_music_store.app.model.recommendation.algo.AgeGenderPlaylistRecommendAlgorithm" p:ratio="10" />
    <bean id="userHistoryPlaylistRecommendAlgorithm" class="com.prefer_music_store.app.model.recommendation.algo.UserHistoryPlaylistRecommendAlgorithm" p:ratio="10" init-method="init" />
    <bean id="playlistRandomRecommendAlgorithm" class="com.prefer_music_store.app.model.recommendation.algo.PlaylistRandomRecommendAlgorithm" />

    <util:map id="recommendAlgorithms">
        <entry key="ageGenderPlaylistRecommendAlgorithm" value-ref="ageGenderPlaylistRecommendAlgorithm" />
    </util:map>
    <bean id="recommender" class="com.prefer_music_store.app.model.recommendation.api.Recommender"
          p:recommendAlgorithms-ref="recommendAlgorithms"
          p:randomRecommendAlgorithm-ref="playlistRandomRecommendAlgorithm" />

    <!-- Background Engine -->
    <bean id="mainEngine" class="com.prefer_music_store.app.engine.MainEngine" />

    <!-- Destroyer -->
    <bean id="destroyer" class="com.prefer_music_store.app.engine.ServerDestroyer" destroy-method="destroy" />

</beans>